/BreadthFirstSearch.class
/DepthFirstSearch.class
/IterativeDeepeningSearch.class
/QueueController.class
/UniformCostSearch.class
/GreedyFunction1.class
/GreedySearch1.class
/GreedySearch2.class
/AStarSearch1.class
/AStarSearch2.class
/BFS.class
/DFS.class
/GS1.class
/GS2.class
/IDS.class
/SearchStrategy.class
/UCS.class
/Strategy.class
/AS1.class
/AS2.class
